h1{
  color : #ffffff;
}

body{
  background-color: black;
  font-family: Consolas, monospace;
}

p{
  color : #ffffff;
}

@font-face{
  font-family :'Consolas';
  src :url("Consolas.ttf") format(truetype);
}