@font-face{
  font-family :'Consolas';
  src :url("Consolas.ttf") format(truetype);
}

body {
  background-color: black;
  padding: 50px;
  font: 14px Consolas, monospace;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

h1{
  color : #ffffff;
}

p{
  color : #ffffff;
}

a {
  color: #00B7FF;
}
