@font-face{
  font-family :'Consolas';
  src :url("Consolas.ttf") format(truetype);
}

body {
  background-color: black;
  font: 14px Consolas, monospace;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

h1,p,h3,a {
  margin: 50px;
}

h1{
  color : #fff;
}

h3{
  color : #fff;
}

p{
  color : #aaa;
}

a {
  color: #ccc;
}
a:hover {
  color: #fff;
}
